@import url(https://fonts.googleapis.com/css?family=Nixie+One|Open+Sans:400,600,700,800);
html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  overflow-x: hidden;
}
h1 {
  font-family: 'Nixie One', cursive;
  text-align: center;
  font-size: 60px;
  margin-top: 80px;
}
.content {
  width: 800px;
  margin: 0 auto;
}

.jumbo {
  position: relative;
  height: 650px;
  margin-bottom: 70px;
}

img.map {
  width: 500px;
}

img.human {
  position: absolute;
  left: 50%;
  top: 1200px;
  width: 300px;
  padding-left: 100px;
}

span.clock {
  position: absolute;
  right: 50%;
  top: 1240px;
  padding-right: 500px;
}

.time {
  margin-bottom: 50px;
}

.progress-bar {
  height: 60px;
  width: 0px;
  position: absolute;
  margin-left: 200px;
  background-color: #BD1622;
  background-image: url("stripe.png");
  z-index: -1;
}

.debt-bar {
  bottom: 213px;
  right: 170px;
}

.description {
  position: absolute;
  text-align: right;
  bottom: 200px;
  right: 0;
  width: 300px;
}

.pull-left {
  float: left;
}

.text-right {
  text-align: right;
}

.footnote {
  font-size: 13px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.red {
  color: #BD1622;
}

.black {
  color: #000000;
}

span[ live-update] {
  color: black;
}

.smaller {
  font-size: 15px;
}
