@import url(https://fonts.googleapis.com/css?family=Nixie+One|Open+Sans:300,400,600,700,800);
html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.page {
  width: 1610px;
  margin: 100px auto;
}

.page > .header {
  border: 2px solid #CCC;
  height: 100px;
  width: 1600px;
  margin: 0 5px;
  position: relative;
}

.page > .header > h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  margin-left: 150px;
  margin-top: 8px;
}

.page > .header > h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  margin-left: 150px;
  text-transform: uppercase;
}

.page > .header > h3 {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #BBBBBB;
  margin: 0;
}

.page > .content {
  border: 2px solid #CCC;
  border-top: none;
  height: 800px;
  width: 1200px;
  margin-left: 405px;
  position: relative;
}

.page > .content.text {
  height: auto;
  min-height: 200px;
  padding: 20px;
  width: 880px;
  text-align: justify;
  padding-right: 300px;
}

.page > .content.smaller {
  height: initial;
}

.page > .content.upload {
  height: initial;
  padding: 20px;
  width: 1160px;
}

.page > .content > img {
        position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	z-index: -100;
}

.page > .content > img.logo {
  display: block;
  position: static;
  margin: 0 auto;
  width: 1200px;
  height: auto;
}

.page > .content > h1 {
  font-size: 30px;
  font-weight: 300;
  padding: 50px;
  padding-left: 0;
  margin: 0;
  text-transform: uppercase;
}

.uploaded-img {
  width: 50%;
  float: left;
  margin-bottom: 100px;
}

.uploaded-img > img{
  margin: 0 auto;
  display: block;
  width: 200px;
}

.uploaded-img > .img-desc{
  margin: 150px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: justify;
}

.uploaded-img > .img-desc > h1{
  text-align: left;
  font-weight: 100;
  margin: 0;
  font-size: 20px;
}

.uploaded-img > .caption{
  text-align: center;
  margin-top: 30px;
}

.red {
  color: red;
}

.hl {
  font-weight: 600;
}

.selected {
  font-weight: 600;
}

.boh:hover {
  font-weight: 600 !important;
}

#our-images {
  margin-right: 300px;
  margin-bottom: 100px;
  text-align: justify;
}

.what {
  text-align: center !important;
  padding-right: 20px !important;
  width: 1160px !important;
  font-size: 30px;
}
