@import url(https://fonts.googleapis.com/css?family=Nixie+One|Open+Sans:300,400,600,700,800);
html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.page {
  width: 1610px;
  margin: 100px auto;
  height: 1000px;
}

.page > .header {
  border: 2px solid #CCC;
  height: 100px;
  width: 1600px;
  margin: 0 5px;
  position: relative;
}

.page > .header > h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  margin-left: 150px;
  margin-top: 8px;
}

.page > .header > h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  margin-left: 150px;
  text-transform: uppercase;
}

.page > .header > h3 {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #BBBBBB;
  margin: 0;
}

.page > .content {
  border: 2px solid #CCC;
  border-top: none;
  height: 800px;
  width: 1200px;
  margin-left: 405px;
  position: relative;
}

.page > .content.text {
  height: auto;
  min-height: 800px;
  padding: 20px;
  width: 1160px;
}

.page > .content > img {
        position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	z-index: -100;
}

.page > .content > img.logo {
  display: block;
        position: static;
        margin: 0 auto;
  width: 1000px;
  height: auto;
}
