@import url(https://fonts.googleapis.com/css?family=Nixie+One|Open+Sans:400,600,700,800);
html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.page {
  width: 1610px;
  margin: 100px auto;
  height: 1000px;
}

.page > .header {
  border: 2px solid #CCC;
  height: 100px;
  width: 1600px;
  margin: 0 5px;
}

.page > .content {
  border: 2px solid #CCC;
  border-top: none;
  height: 800px;
  width: 1200px;
  margin-left: 405px;
}

#background > img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	z-index: -100;
}

.jumbo {
	background-color: #FFFFFF;
	border: 2px solid #CCCCCC;
	width: 600px;
	height: 100px;
	position: relative;
	top: 200px;
	left: 50%;
	margin-left: -300px;

}
.jumbo > .profile {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 80px;
	height: 80px;
	border-radius: 40px;

}

.jumbo > .name {
  position: absolute;
  top: 10px;
  left: 100px;
}

.jumbo > .amount {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #BBBBBB;
}

.jumbo > .caption {
  position: absolute;
  top: 40px;
  left: 100px;
  color: #BBBBBB;
  font-weight: 200;
}
